
.row{
    justify-content: space-evenly;
}

.maiuscula{
    text-transform: uppercase;
    font-weight: bold;
}

.minuscula{
    text-transform: lowercase;
}

a{
    color: #fff;
    text-decoration: none;
}

.nav-link{
    font-size: large;
    font-weight: bold;
    padding-left: 2vw;
}

.nav-link:hover{
    margin: 0 auto;
    background-color: #f30505;
    transition: 0.4s ease-in;
}

.banner{ 
    width: 22rem;   
    margin-top: 15vh;
    padding: 0;
    text-align: center;
}
.banner .grid{
    row-gap: 0.75rem;
}
.banner .btn{
    font-size: larger;
}
.banner .azul{
    background-color: #01579B;
}
.banner .vermelho{
    background-color: #f30505;
}
.banner .verdao{
    background-color: #004D40;
}
.banner .amarelo{
    background-color: #ff9900b6;
}
.banner .verde{
    background-color: #4caf4fb9;
}
.banner .card-title{
    font-size: 6.9rem;
}
.banner .card-subtitle{
    font-size: 1.3rem;
}

main .banner{
    width: 17rem;
    text-align: left;
}
main .banner .card-title{
    margin-right: 39%;
    padding-left: 6%;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
}
main .banner .noticias{
    background-color: #2196F3;
}
main .banner .eventos{
    background-color: #E91E63;
}
main .banner .diversos{
    background-color: #4caf4fb9;
}
main .banner .oktoberfest{
    background-color: #ff9900b6;
}
main .banner .card-footer, main .banner .btn{
    margin: 0 auto;
    padding-top: 23%;
    font-weight: bold;
    text-transform: uppercase;
}